
.mm{
    width: 25px;
    height: 25px;
}
.mr{
    margin-right: 10px;
}
.ml{
    margin-left: 10px;
}
.select span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 2px;
    cursor: pointer;
}
.color1{
    background-color: red;
}
.color2{
    background-color: yellow;
}
.color3{
    background-color: green;
}
.select input{
    display: none;
}
.select input:checked+span{
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #000;
}
.sr{
    background-color: red
}
.sg{
    background-color: green;
}
.sy{
    background-color: #ffba08;
}
.sy:hover{
    background-color: #ffba08;
}
/* about css */
.aboutH{
    text-align: center;
    font-weight: 900;
}
.about{
    font-weight: bolder;
    width: 600px;
    margin-left: 30vw;
    

}
